version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: groupBWT
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    container_name: groupbwt-backend
    build:
      context: ./be
      dockerfile: Dockerfile
    env_file: ./be/.env
    depends_on:
      - postgres
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./FE
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "3000:80"
    volumes:
      - ./FE/nginx.conf:/etc/nginx/conf.d/default.conf

volumes:
  pgdata:
